h1 {
  padding-bottom: 30px;
}
h4 {
  color: rgb(21, 35, 226);
  text-transform: uppercase;
}
form {
  padding-bottom: 20px;
}
.todayWeather {
  padding-bottom: 30px;
  color: rgb(21, 35, 226);
}
.weather {
  color: rgb(21, 35, 226);
}
.forecast {
  color: whitesmoke;
}
.columns {
  text-align: center;
}
.container {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 70px;
  padding-left: 130px;
  padding-right: 130px;
  padding-bottom: 70px;
}
body {
  background-image: url("background-photo.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.link-name {
  color: whitesmoke;
  text-align: center;
  padding-top: 50px;
  text-decoration: none;
}
.github-link {
  color: whitesmoke;
  text-decoration: none;
}
#description {
  text-transform: capitalize;
}
#currentTemp {
  font-size: large;
  font-weight: bold;
}
.humidity-element {
  padding-left: 60px;
}

.wind-element {
  padding-left: 60px;
}
#forecast {
  display: block;
  text-align: center;
  color: rgb(69, 59, 59);
}
.weather-forecast-date {
  font-weight: bold;
  color: rgb(21, 35, 226);
}
#description {
  color: rgb(69, 59, 59);
}
#currentTemp {
  color: rgb(69, 59, 59);
}
.humidity-element {
  color: rgb(69, 59, 59);
}
.wind-element {
  color: rgb(69, 59, 59);
}
